{% extends "news_app/base.html" %}
{% load render_table from django_tables2 %}

{% block content %}
    <a>Your Portafolio: {{pname}}</a>
    <div>
        <a href="{% url 'addticker' %}" class="btn btn-sm btn-primary">Add Ticker</a>
    </div>

   <div>
        {% for element in s %}             
        <tr>
            <td><div class="btn active"><i class="fa fa-check"></i></div></td>
            <td>
                <a href="{% url 'stock' pk=element.pk %}">
                    {{element.name|lower|capfirst}}
                </a>
            </td>
            <td>
                {{element.ticker}}
            </td>
        </tr>               
        {% endfor %}
    </div> 
{% endblock content %}