{% extends "news_app/base.html" %}

{% block content %}
    <a>Your Portafolio: {{pname}}</a>
    <div>
        <a href="{% url 'addticker' %}" class="btn btn-sm btn-primary">Add Ticker</a>
    </div>

    {% comment %} <div>
        {% for element in p %}             
        <tr>
            <td><div class="btn active"><i class="fa fa-check"></i></div></td>
            <td>
                <a href="{% url 'portafolio' pk=element.pk %}">
                    {{element.name|lower|capfirst}}
                </a>
            </td>
            <td>
                {{element.country}}
            </td>
        </tr>               
        {% endfor %}
    </div> {% endcomment %}
{% endblock content %}